<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <title>{{ page.title | default: site.title }}</title>
  </head>
  <body>
    <div class="terminal-screen">
      <div class="terminal-header">
        <div class="robco-title">ROBCO INDUSTRIES (TM) TERMLINK PROTOCOL</div>
        <div class="system-info">{{ page.title | upcase }}</div>
        <div class="back-link" style="margin-top: 15px;">
          <a href="/">[ESC] RETURN TO MAIN MENU</a>
        </div>
      </div>
      
      <div class="terminal-content">
        {{ content }}
      </div>
      
      <div class="terminal-prompt">CONNECTION_STABLE</div>
    </div>
  </body>
</html>
